:root {
  --dark-bg: #111;
  --dark-text: #fff;
  --dark-accent: #222;
  --dark-text-accent: #444;
  --dark-filter: invert(0);

  --light-bg: #fff;
  --light-text: #111;
  --light-accent: #eee;
  --light-text-accent: #ccc;
  --dark-filter: invert(1);

  /* Default mode */
  --text-color: var(--dark-text);
  --bg-color: var(--dark-bg);
  --accent-color: var(--dark-accent);
  --filter: var(--dark-filter);

  --primary: #22d2a0;
  --secondary: #192824;
  --green: #1fc11b;
  --yellow: #ffd913;
  --orange: #ff9c55;
  --red: #ff5555;
  --aqua: #5bc0eb;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:visited {
  color: var(--text-color);
}
