---
import SiteLayout from '../layouts/SiteLayout.astro';
---

<SiteLayout>
  <div class="container">404</div>
</SiteLayout>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
</style>
