---
import PostList from '../components/PostList.astro';
import SiteLayout from '../layouts/SiteLayout.astro';
---

<SiteLayout>
  <div class="posts">
    <PostList />
  </div>
</SiteLayout>

<style>
  .posts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
</style>
