<div class="container">
  <div>here be dragons</div>
  <a href="/">go back</a>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 1rem;
  }
</style>
