<div class="container">
  <a href="https://github.com/ozencb" target="_blank">github</a>
  <a href="https://www.linkedin.com/in/ozencb/?locale=en_US" target="_blank"
    >linkedin</a
  >
  <a href="mailto:bilgiliozenc@gmail.com">e-mail</a>
  <a href="/rss.xml">rss</a>
</div>

<style>
  .container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
  }

  a {
    color: #444;
  }
  a:visited {
    color: #444;
  }
</style>
