<header>
  <nav
    class="no-select flex flex-row justify-between mx-4 pb-6 pt-2 tracking-tight md:tracking-widest"
  >
    <div class="min-w-max">
      <a class="btn-entry" href="/">özenç bilgili</a>
    </div>
    <div class="flex flex-row gap-1 md:gap-6">
      <label class="switch-label btn-entry min-w-max" for="theme-switch"
        >my eyes!!</label
      >
      <a
        class="btn-entry min-w-max"
        href="https://github.com/ozencb"
        target="_blank">github</a
      >
      <a
        class="btn-entry min-w-max"
        href="https://www.linkedin.com/in/ozencb/?locale=en_US"
        target="_blank">linkedin</a
      >
      <a class="btn-entry min-w-max" href="mailto:bilgiliozenc@gmail.com"
        >e-mail</a
      >
      <a class="btn-entry min-w-max" href="/rss.xml">rss</a>
    </div>
  </nav>
</header>

<style>
  .btn-entry:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
  }
</style>
