---
import logo from "../assets/icons/logo.svg";
import lightOn from "../assets/icons/light-on.svg";
import lightOff from "../assets/icons/light-off.svg";
---

<header class="header no-select">
  <a class="logo-container" href="/">
    <div class="logo">
      <img src={logo.src} alt="logo" class="logo-img" />
    </div>
  </a>

  <label id="lbl-theme-switch" class="switch-label" for="theme-switch">
    <img src={lightOff.src} alt="theme switch" class="theme-switch-img dark" />
    <img src={lightOn.src} alt="theme switch" class="theme-switch-img light" />
  </label>
</header>

<style>
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75rem;
  }

  .switch-label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .logo-container {
    width: calc(1.5rem + 8px);
    height: calc(1.5rem + 8px);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .logo {
    width: 24px;
    height: 24px;
    box-sizing: unset;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    border: 1px solid var(--primary);
    box-shadow: -2px -2px 0 -1px var(--bg-color), -2px -2px var(--green),
      -4px -4px 0 -1px var(--bg-color), -4px -4px var(--yellow),
      -6px -6px 0 -1px var(--bg-color), -6px -6px var(--orange),
      -8px -8px 0 -1px var(--bg-color), -8px -8px var(--red);
  }

  .logo:hover {
    animation: shadow-wave 1s ease infinite;
  }

  .logo .logo-img {
    height: 20px;
    width: 20px;

    filter: var(--filter);
  }

  .theme-switch-img {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: -50%;
  }

  body:has(#theme-switch:checked) .theme-switch-img.light {
    visibility: hidden;
  }

  body:not(:has(#theme-switch:checked)) .theme-switch-img.dark {
    visibility: hidden;
  }

  .logo svg:hover {
    animation: rainbow 1s ease infinite;
  }

  @keyframes rainbow {
    0% {
      fill: var(--primary);
    }

    20% {
      fill: var(--red);
    }

    40% {
      fill: var(--orange);
    }

    60% {
      fill: var(--yellow);
    }

    80% {
      fill: var(--green);
    }

    100% {
      fill: var(--primary);
    }
  }

  @keyframes shadow-wave {
    0% {
      border: 1px solid var(--primary);
      box-shadow: -2px -2px 0 -1px var(--bg-color), -2px -2px var(--green),
        -4px -4px 0 -1px var(--bg-color), -4px -4px var(--yellow),
        -6px -6px 0 -1px var(--bg-color), -6px -6px var(--orange),
        -8px -8px 0 -1px var(--bg-color), -8px -8px var(--red);
    }

    20% {
      border: 1px solid var(--red);
      box-shadow: -2px -2px 0 -1px var(--bg-color), -2px -2px var(--primary),
        -4px -4px 0 -1px var(--bg-color), -4px -4px var(--green),
        -6px -6px 0 -1px var(--bg-color), -6px -6px var(--yellow),
        -8px -8px 0 -1px var(--bg-color), -8px -8px var(--orange);
    }

    40% {
      border: 1px solid var(--orange);
      box-shadow: -2px -2px 0 -1px var(--bg-color), -2px -2px var(--red),
        -4px -4px 0 -1px var(--bg-color), -4px -4px var(--primary),
        -6px -6px 0 -1px var(--bg-color), -6px -6px var(--green),
        -8px -8px 0 -1px var(--bg-color), -8px -8px var(--yellow);
    }

    60% {
      border: 1px solid var(--yellow);
      box-shadow: -2px -2px 0 -1px var(--bg-color), -2px -2px var(--orange),
        -4px -4px 0 -1px var(--bg-color), -4px -4px var(--red),
        -6px -6px 0 -1px var(--bg-color), -6px -6px var(--primary),
        -8px -8px 0 -1px var(--bg-color), -8px -8px var(--green);
    }

    80% {
      border: 1px solid var(--green);
      box-shadow: -2px -2px 0 -1px var(--bg-color), -2px -2px var(--yellow),
        -4px -4px 0 -1px var(--bg-color), -4px -4px var(--orange),
        -6px -6px 0 -1px var(--bg-color), -6px -6px var(--red),
        -8px -8px 0 -1px var(--bg-color), -8px -8px var(--primary);
    }

    100% {
      border: 1px solid var(--primary);
      box-shadow: -2px -2px 0 -1px var(--bg-color), -2px -2px var(--green),
        -4px -4px 0 -1px var(--bg-color), -4px -4px var(--yellow),
        -6px -6px 0 -1px var(--bg-color), -6px -6px var(--orange),
        -8px -8px 0 -1px var(--bg-color), -8px -8px var(--red);
    }
  }

  @media (max-width: 640px) {
    .logo {
      animation: shadow-wave 1s ease infinite;
    }
    .logo svg {
      animation: rainbow 1s ease infinite;
    }
  }
</style>
