<header>
	<nav
		class="no-select flex flex-row justify-between mx-4 pb-6 pt-2 tracking-widest"
	>
		<div>
			<a href="/">özenç bilgili</a>
		</div>
		<div class="flex flex-row gap-6">
			<label class="switch-label" for="theme-switch">my eyes!!</label>
			<a href="https://github.com/ozencb" target="_blank">github</a>
			<a
				href="https://www.linkedin.com/in/ozencb/?locale=en_US"
				target="_blank">linkedin</a
			>
			<a href="mailto:bilgiliozenc@gmail.com">e-mail</a>
			<a href="/rss.xml">rss</a>
		</div>
	</nav>
</header>
